{{!< index}}
{{#contentFor "lang"}}es{{/contentFor}}

{{#contentFor "categories"}}
    {{#get "posts" limit="all" include="tags" filter="tag:es"}}
        {{#foreach posts}}
            <span class="category-item">{{tags}}</span>
        {{/foreach}}
    {{/get}}
{{/contentFor}}